body{
    background-image: url("Object.png");
    font-weight: bold;
    color: white;
    
}
header{
    display: inline-block;
}
nav{
    display: inline;
}
nav li{
    color: white;
    margin: 7px;
    display: inline-block;
    width: 60px;
    font-size: 9px;
}
.logo {
    height: 20px;
    padding-left: 100px;
    margin-top: 20px;
    margin-right: 80px;
}
nav a{
    text-decoration: none;
    color: white;
}
div ul{
    display: inline-block; 
    color: white;  
}
.course {
    margin-left: 680px;
}
h1{
    font-size: 80px;
    align-items: center;
    text-align: center;
}
div .container{
    display: inline;
    text-align: center;
    align-items: center;
    
    
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;

}
.second_nav{
    height: 370px;
    width: 335;
    margin: 50px;
    text-align: center;
}

button{
    padding: 10px 10px;
    background-color: #c271ff;
    border-radius: 15%;
    height: fit-content;
    font-size: 12px;
    width: fit-content;
    color: white;
    display: flex;
    margin-bottom: 20px;
}
.center{
   
    
}
div span{
    color: white;
    margin: 7px;
    display: inline-block;
    width: 50px;
    font-size: 12px;
}
.members{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 60px;
}
.members div{
    height: 180px;
    width: 30;
    margin: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.members_pics{

}
h2{font-size: 20px;
    align-items: center;
    text-align: center;
   margin-top: 200px;
}
.lawrence img{
    border-radius: 50%;
}