body{
    background-image: url("Object.png");
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

header{
    display: inline-block;
}
nav{
    display: inline;
}
nav li{
    color: white;
    margin: 7px;
    display: inline-block;
    width: 60px;
    font-size: 9px;
}
.logo {
    height: 20px;
    padding-left: 100px;
    margin-top: 20px;
    margin-right: 80px;
}
nav a{
    text-decoration: none;
    color: white;
}
div ul{
    display: inline-block; 
    color: white;  
}
.course {
    margin-left: 680px;
}
h1{
    font-size: 80px;
    align-items: center;
    text-align: center;
}
.container {
    display: inline;
    text-align: center;
    align-items: center;
    
    
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;

}
.second_nav{
    height: 300px;
    width: 335;
    margin: 50px;
    text-align: center;
}

button{
    padding: 10px 10px;
    background-color: #c271ff;
    border-radius: 15%;
    height: fit-content;
    font-size: 12px;
    width: fit-content;
    color: white;
    display: flex;
    margin-bottom: 20px;
}

div span{
    color: white;
    margin: 7px;
    display: inline-block;
    width: 50px;
    font-size: 12px;
}
.members {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 60px;
}
.members div{
    height: 200px;
    width: 30;
    margin: 60px;
    text-align: center;
    margin-bottom: 25px;
}

h2{font-size: 20px;
    align-items: center;
    text-align: center;
   margin-top: 200px;
}
.lawrence img{
    border-radius: 50%;
}

.Bitmap_Section{
    background-color: #c271ff;
    height: 350px;
   
}
.Bitmap{
    display: inline-block;
    align-items: center;
    max-width: 1000px;
}
.Bitmap_text{
    text-decoration: none;
    display: inline-block;
    width: 450px;
    margin-left: 20px;
    
}
.Bitmap img{
    margin-left: 300px;
    margin-top: 65px;

}
.tutorials{
    background-color: white;
    color: black;
}
.subtutor{
    display: flex;
    width: 100px;
    margin-left: 150px;
}
.smali {
    display: flex;

}
.smali img{
    width: 17px;
    padding: 20px;
  
}
.tutorials h2{
font-size: 30px;
align-items: center;
text-align: center;
margin-bottom: 50px;
}
.rating {
    position: sticky;
    height: 7px;
    background-image: url('rating.png');
    background-size: cover; 
    background-position: center;
}
.para_div{
    margin-left: 30px;
}
.Free_membership div{
   background-color: rgb(5, 5, 71);
   height: auto;
   color: white;
    padding: 50px 0;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

  


#membey{
width: 200px;
justify-content: center;
display: contents;
display: inline-block;
text-align: center;
margin-left: 100px;
margin-bottom: 50px;
}
.Free_membership div img{
    width: 30px;
    padding: 50px;
}
.faq{
    background-color: white;
    color: black;
}
#faq_cont{
    justify-content: center;
    display: inline-block;
 
}
footer{
    background-color: rgb(5, 5, 71);
    height: 250px;
}